{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    
    {% if user.is_authenticated %}
        <h1>마이페이지</h1>
        <div class="row">
            <div class="col">
                <img src="{% static '/images/default.png'%}" alt="" style="width: 100px; height: 100px; border-radius: 50%;">
            </div>
            <div class="col">
                {{ post_user.first_name }}
            </div>
            <div class="col">
                {{ post_user.username }}
            </div>
        </div>
        
            <a href="{% url 'users:following' post_user.id %}">내가 팔로우한 목록</a>
            <a href="{% url 'users:follower' post_user.id %}">나를 팔로우한 목록</a>
            <a href="{% url 'users:posts_list' post_user.id %}">내가 쓴 글 목록</a>
        
    {% else %}
        <h3>로그인 후 이용이 가능합니다.</h3>
        <a href="{% url 'account_login' %}" class="btn btn-warning">로그인</a>
        <a href="{% url 'account_signup' %}" class="btn btn-warning">회원가입</a> 
    {% endif %}
</div>



{% endblock %}